<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agence de voyage - Suite</title>
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
</head>

<body>
    <nav>
        <a href="/home">Accueil</a>
        <a href="/travel">Destinations</a>
        <a href="/contact">Contact</a>
    </nav>
    <div class="content-container travel-container">
        <section class="destinations">
            <div class="container">
                <h2 class="text-center">Découvrez nos destinations populaires</h2>
                <a href="destination-details.html">
                    <div class="box-3 float-container">
                        <img src="images/plage-paradisiaque.jpg" alt="Plage" class="img-responsive img-curve">
                        <h3 class="float-text text-white">Plages Exotiques</h3>
                    </div>
                </a>
                <a href="destination-details.html">
                    <div class="box-3 float-container">
                        <img src="images/montagne.jpg" alt="Montagnes" class="img-responsive img-curve">
                        <h3 class="float-text text-white">Aventure en Montagne</h3>
                    </div>
                </a>
                <a href="destination-details.html">
                    <div class="box-3 float-container">
                        <img src="images/urbain.jpg" alt="Ville" class="img-responsive img-curve">
                        <h3 class="float-text text-white">Découverte Urbaine</h3>
                    </div>
                </a>
                <div class="clearfix"></div>
            </div>
        </section>

        <section class="organized-travel">
            <div class="container">
                <h2 class="text-center">Voyages Organisés</h2>
                <div class="travel-package">
                    <img src="images/burger.jpg" alt="Voyage Organisé 1" class="img-responsive img-curve" style="width: 300px;">
                    <h3>Explorez l'Asie</h3>
                    <p>Un voyage inoubliable à travers l'Asie avec des visites guidées et des expériences culturelles.</p>
                    <a href="book-travel.html" class="btn btn-primary">Réserver</a>
                </div>
                <div class="travel-package">
                    <img src="images/logo.jpg" alt="Voyage Organisé 2" class="img-responsive img-curve" style="width: 300px;">
                    <h3>Aventure en Afrique</h3>
                    <p>Partez à l'aventure en Afrique et découvrez la faune sauvage et les paysages magnifiques.</p>
                    <a href="book-travel.html" class="btn btn-primary">Réserver</a>
                </div>
                <div class="travel-package">
                    <img src="images/pizza.jpg" alt="Voyage Organisé 3" class="img-responsive img-curve" style="width: 300px;">
                    <h3>Voyage en Europe</h3>
                    <p>Explorez les destinations européennes emblématiques avec des visites culturelles et gastronomiques.</p>
                    <a href="book-travel.html" class="btn btn-primary">Réserver</a>
                </div>
                <div class="clearfix"></div>
            </div>
        </section>

        <section class="special-offers">
            <div class="container">
                <h2 class="text-center">Offres Spéciales</h2>
                <div class="offer">
                    <img src="images/special-offer1.jpg" alt="Offre Spéciale 1" class="img-responsive img-curve">
                    <h3>Forfait Détente</h3>
                    <p>Profitez de vacances relaxantes dans les destinations de rêve. Offre limitée dans le temps.</p>
                    <a href="book-offer.html" class="btn btn-primary">Réserver</a>
                </div>
                <div class="offer">
                    <img src="images/special-offer2.jpg" alt="Offre Spéciale 2" class="img-responsive img-curve">
                    <h3>Forfait Aventure</h3>
                    <p>Voyagez à l'aventure avec des activités passionnantes dans des destinations exotiques. Réservez maintenant !</p>
                    <a href="book-offer.html" class="btn btn-primary">Réserver</a>
                </div>
                <div class="clearfix"></div>
            </div>
        </section>
    </div>

    <section class="social">
        <div class="container text-center">
            <ul>
                <li>
                    <a href="#"><img src="https://img.icons8.com/fluent/50/000000/facebook-new.png" /></a>
                </li>
                <li>
                    <a href="#"><img src="https://img.icons8.com/fluent/48/000000/instagram-new.png" /></a>
                </li>
                <li>
                    <a href="#"><img src="https://img.icons8.com/fluent/48/000000/twitter.png" /></a>
                </li>
            </ul>
        </div>
    </section>

    <section class="footer">
        <div class="container text-center">
            <p>Tous droits réservés. Copyright <a href="#">Votre Agence de Voyage</a></p>
        </div>
    </section>
</body>

</html>
