<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Agence de voyage</title>

   <!-- Lien vers le fichier CSS -->
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
</head>

<body>
   <!-- Section de Navigation -->

   <div class="back"></div>
   <!-- <img id="background-image" src="images/avion-istock-473054562.jpg" alt="avionBack"> -->

   <nav>
      <a href="/home">Accueil</a>
      <a href="/travel">Destinations</a>
      <a href="/contact">Contact</a>
   </nav>
   <!-- Fin Section Navigation -->

   <!-- Recherche de voyages -->
   <!-- <section class="travel-search text-center">
      <div class="container">
         <form action="travel-search.html" method="POST">
            <input type="search" name="search" placeholder="Rechercher une destination..." required>
            <input type="submit" name="submit" value="Rechercher" class="btn btn-primary">
         </form>
      </div>
   </section> -->
   <!-- Fin Recherche de voyages -->
   <section class="parallax-container">
      <h1>Voyagez comme vous ne l'avez jamais fait</h1>
      <p>
        Le mont Pili Pili comme vous ne l'avez jamais vu
      </p>
     </section>
  
     <section class="buffer">     <p>GROS CACACAA<p>
    </section>

    <section class="parallax-container parallax-container2">
      <div class="card">
        <div class="card-img"></div>
        <h3>Hiking</h3>
        <p>
         Explore the myriad of trails through the mountaineous. Choose the
         difficulty appropriate to your fitness level.
        </p>
      </div>
      <div class="card">
        <div class="card-img"></div>
        <h3>Rock climbing</h3>
        <p>
         The goal is to reach the summit of a formation or the endpoint of a
         usually pre-defined route without falling
        </p>
      </div>
      <div class="card">
        <div class="card-img"></div>
        <h3>Caving</h3>
        <p>
         Exploring underground through networks of tunnels and passageways,
         which can be natural or artificial.
        </p>
      </div>
      <div class="card">
        <div class="card-img"></div>
        <h3>Paragliding</h3>
        <p>
         Get lift off from the mountain and enjoy through the splendor of the
         surrounding landscape by parachute.
        </p>
      </div>
     </section>
  <div class="parallax"></div>
   <!-- Liens vers les comptes sociaux -->
   <section class="social">
      <div class="container text-center">
         <ul>
            <li>
               <a href="#"><img src="https://img.icons8.com/fluent/50/000000/facebook-new.png" /></a>
            </li>
            <li>
               <a href="#"><img src="https://img.icons8.com/fluent/48/000000/instagram-new.png" /></a>
            </li>
            <li>
               <a href="#"><img src="https://img.icons8.com/fluent/48/000000/twitter.png" /></a>
            </li>
         </ul>
      </div>
   </section>
   <!-- Fin Section Liens vers les comptes sociaux -->

   <!-- Section Droits réglementaires -->
   <section class="footer">
      <div class="container text-center">
         <p>Tous droits réservés. Copyright <a href="#">Votre Agence de Voyage</a></p>
      </div>
   </section>
   <!-- Fin Section Droits réglementaires -->

</body>

</html>