{{ include('menu/index.html.twig') }}

<div class="main-content">
    <div class="wrapper">
        <h1 class="text-center">Gestion des réservations</h1>
    </div>
</div>

<?php include('partials/footer.php'); ?>